asm
backups
blueprints
coremods
CustomDISkins
downloads
journeymap
saves
logs
screenshots
server-resource-packs
texturepacks

data/ee3/knowledge
data/ee3/tests

.ReAuth.cfg
1213309934
betterfps.txt
options.txt
optionsof.txt
scripts.lnk
servers.dat
usercache.json
usernamecache.json
mods/PortalGunSounds.pak.md5
mods/PortalGunSounds.pak
minetweaker.log
.curseclient
